@import '../abstracts/variables';
@import '../abstracts/mixins';

.body-container {
    min-height: 100%;
    position: relative;
}

.login-container {
    @include flexCenter();
    padding-bottom: 60px;
    .form-container {
        box-sizing: border-box;
        margin: 50px;
        border-top: 4px solid $blueBorderColor;
        width: 488px;
        min-width: 300px;
        padding: 0 32px;
        background-color: $white;
        #state-ip-group {
            margin-top: 23px;
        }
        #district-ip-group {
            margin-top: 36px;
        }
        #username {
            margin-top: 54px;
        }
        #password {
            margin-top: 33px;
        }
        #remember-me-line {
            margin-top: 26px;
        }

        h3 {
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            color: $gray22;
            margin-bottom: 32px;
            img {
                float: left;
            }
        }

        .radio-ip-line {
            @include flex(start, center);
            input {
                margin: 0px 8px 0px 0px;
            }
            label {
                margin-right: 32px;
            }
        }

        select {
            width: 100%;
            padding: 5px 0px;
            font-size: 16px;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid $formInputColor;
            color: $formInputColor;
            background: url('../quantum-screen-assets/icons/arrow-down.svg') no-repeat right;
            appearance: none;
            font-family: inherit;
        }

        .form-group {
            position: relative;
            // margin-top: 35px;
            input {
                font-family: inherit;
            }
            small {
                font-size: 14px;
                display: block;
                text-align: right;
                color: $greenishColor;
                margin: 5px;
            }
            label {
                font-size: 16px;
                color:$formInputColor;
            }
            .small-label {
                font-size: 12px;
            }
            .text-ip, select {
                width: 100%;
                padding: 5px 0px;
                font-size: 16px;
                box-sizing: border-box;
                border: none;
                border-bottom: 2px solid $formInputColor;
                color: $formInputColor;
            }
            .text-ip {
                margin-top: 20px;
            }

            input[type="radio"], input[type="checkbox"] {
                accent-color: $greenishColor;
                height: 20px;
                width: 20px;
                vertical-align: middle;
            }
            img {
                cursor: pointer;
                position: absolute;
                top: 36px;
                right: 0px;
                cursor: pointer;
            }
        }

        .login-btn {
            background-color: $loginBtnBg;
            font-size: 14px;
            color: $loginBtntxt;
            padding: 11px 85px;
            border: none;
            border-radius: 4px;
            display: block;
            margin: 34px auto 24px;
            box-shadow: 0px 3px 5px #0000003D;
        }
    }
}