@import '../abstracts/variables';
@import '../abstracts/mixins';

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    .upper-footer {
        text-align: center;
        font-size: 14px;
        color: $greenishColor;
        margin-top: 30px;
        margin-bottom: 16px;
        a {
            color: inherit;
        }
    }
    
    .lower-footer {
        @include flexCenter();
        justify-items: baseline;
        font-size: 12px;
        box-sizing: border-box;
        height: 40px;
        background-color: $footerBgColor;
        padding: 8px 15px;
        text-align: center;
        color: #616161;
        .footer-pipline {font-size: 24px;}
    }
}

