@import '../abstracts/variables';
.header {
    box-sizing: border-box;
    height: 58px;
    border-bottom: none;
    // background: $headerBgColor url("../quantum-screen-assets/header\ pattern\ image.png");
    background-color: $headerBgColor;
    padding: 10px 8px 10px 24px;
    border-bottom: 2px solid $blueBorderColor;
    .header-img {
        height: 100%;
    }
}

