@import '../abstracts/mixins';
@import '../abstracts/variables';

//below code must be removed for dav purpose only.
// #announcements-container {
//     display: block;
//     visibility: visible;
//     opacity: 1;
// }

#hamburger-menu-div {
    display: none;
}

#hamburger-icon {
    width: 28px;
}

#hamburger-container {
    transition: all 0.5s ease-out;
    box-shadow: 0px 13px 20px $hamburgerBoxShadow;
    height: auto;
    overflow: hidden;
    width: 280px;
    top: 65px;
    box-sizing: border-box;
    #new-res-navbar-id {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: $white;
        margin-block-start: 0;
        list-style: none;
        li:hover {
            color: $greenishColor;
            background-color: $grayF3;
            border: none;
            // .sub-menu {
            //     display: block;
            // }
        }
        a {
            display: block;
            height: initial;
            color: $greenishColor;
            font-size: 14px;
            font-weight: 500;
            padding: 15px 16px;
            text-align: left;
            border: none;
            
        }
        .dropdown-btn {
            @include flex(space-between, initial);
            line-height: 18px;
            .dropdown-btn-icon {
                font-size: 24px;
                color: $greenishColor;
                height: 18px;
            }
            
        }
        .sub-menu {
            display: none;
            ul {
                list-style: none;
                margin-block-start: 0;
                padding-left: 0;
                li a {
                    text-transform: uppercase;
                    padding-left: 32px;
                }
                li:hover {
                    text-decoration: underline;
                }
            }

        }
        .opened-submenu {
            display: block;
        }
    }
}

.fixed-nav-item {
    position: relative;
    transition: all 1s;
}

.hover-container {
    // transition: display 2s ease-out 100ms;
    transition: all 0.3s ease-out;
    box-shadow: 0px 3px 6px $hoverBoxShadow;
    // opacity: 0;
    // visibility: hidden;
    z-index: 10;
    // display: none;  //block
    box-sizing: border-box;
    position: absolute;
    background-color: $white;
    color: $gray22;
    border-radius: 0px 0px 2px 2px;
    top:63px;
    right: 5px;
    width: 315px;
    max-height: 0px;
    overflow-y: scroll;
    overflow-x: visible;
    .hover-card {
        box-sizing: border-box;
        padding: 16px;
        border-bottom: 1px solid $gray221F;
        .title {
            @include  flex(space-between, initial);
            margin-bottom: 4px;
            span.pa-block {
                font-size: 12px;
                display: block;
                margin-bottom: 8px;
                font-weight: 500;
                span.pa {
                    color: $gray6E;
                }
            }
            h3 {
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
            .icon {
                font-size: 18px;
                color: $greenishColor;
                margin-left: 8px;
            }
        }
        .course-info {
            font-size: 12px;
            margin: 8px 0px;
            span {
                color: $gray6E;
            }
        }
        .file-and-time {
            @include flex(space-between,center);
            font-size: 12px;
            color: $gray6E;
            .file {
                align-content: center;
                span {
                    font-size: 13px;
                    vertical-align: sub;
                    margin-bottom: 1px;
                }
            }
        }
    }

    .fixed-container-footer {
        box-sizing: border-box;
        color: $greenishColor;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        bottom: 0;
        right: 0;
        
        text-align: center;
        text-transform: uppercase;
        background-color: $white;
        width: 100%;
        box-shadow: 0px 1px 6px #0000003D;
        cursor: pointer;
        border: none;
        button {
            height: 48px;
            padding: 15px;
            text-align: center;
            width: auto;
            flex: 2;
            margin: 0;
            cursor: pointer;
            border: none;
            color: $greenishColor;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            background-color: $white;
            &:hover {
                text-decoration: underline;
            }
        }
        span {
            font-size: 30px;
            color: #0000001F;
        }
    }
}
