@import "./colores.scss";

.about {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    li {
        list-style: none;
        display: inline-block;
    }

    .commen {
        font-size: 18px;
        color: $color4;
    }

    .unique {
        color: $color1;
        padding-left: 8px;
        padding-right: 10px;
    }
}
