@import "./colores.scss";

.content {
    background-color: $color14;
    padding: 24px;

    .tabbar {
        width: 100%;
        background-color: $color5;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows :64px;
        justify-content: center;
        
        .border{
            border-bottom: 4px solid $color7;
        }
        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
        }

        .tab img {
            width: 21px;
            height: 32px;
        }

        .tab>span {
            font-size: 24px;
            padding: 0 5px;
            margin-left: 16px;
        }


    }

    .result {
        display: flex;
        justify-content: space-between;
        margin: 24px 0;

        .left-result {
            align-self: center;
        }

        .right-result {
            align-self: flex-start;

            #course {
                border: none;
                background-color: transparent;
                font-size: 16px;
                border-bottom: 1px solid $color1;
                width: 165px;
            }
        }
    }

    .card-display {
        margin: 16px 0;
        width: 100%;
        display: grid;
        column-gap: 24px;
        row-gap: 25px;
        grid-template-columns: repeat(auto-fill, minmax(476px, 1fr));
        grid-auto-flow: dense;
        justify-content: center;
        .card1{
            margin-left: auto;
        }
        .card2{
            margin-right: auto;
        }
        .card {
            display: grid;
            width: 476px;
            margin: auto;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            column-gap: 16px;
            background-color: $color8;
            min-width: 476px;
            height: 246px;
            flex-grow: 1;
            padding: 24px 16px 11px 24px;
            
           
            .card-img{
                height: 157px;
                width: 132px;
                background-size: cover;
            }
    
            .details{
                padding-right: 24px;
    
                .detail-heading {
                    color: $color7;
                }
    
                .sub-info {
    
                    p {
                        color: $color9;
                        font-size: 12px;
                    }
    
                    .gcolor {
                        width: 13px;
                        height: 15px;
                        color: $color4;
                    }
                }
    
                .teacher-info {
                    .space-between {
                        border-bottom: 1px solid $color14;
                        margin-bottom: 8px;
                        color: $color7;

                        .teacher{
                            border: none;
                            font-size: 16px;
                            width: 264px;
                            height: 27px;
                        }

                        uniqe-color{
                            color: $color7;
                        }
                    }
                }
    
                .course-info {
                    color: $color9;
                    font-size: 12px;
    
                    #cs {
                        margin-right: 17px;
                    }
                }
    
            }
    
            .card-icons {
                grid-column: 1/3;
                display: flex;
                justify-content: space-around;
                border-top: 1px solid $color14;
                padding-top: 15px;
                margin-right: 24px;
                align-items: center;
    
                .card-icons img {
                    height: 24px;
                    width: 22px;
                }
                img{
                    .low-opacity {
                        opacity: 0.4;
                    }
                    
                }
                
            }
    
        }
    }
}


@media screen and (max-width: 990px) {
    .card {
        display: grid;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;

    }
    
}

