$color1 : #000000 ;
$color2 : #686868 ;
$color3 : #333333;
$color4 : #1F7A54;
$color5 : #8DDC97;
$color6 : #213E543D;
$color7 : #222222;
$color8 : #FFFFFF;
$color9 : #666666;
$color10 : #2A7FF3;
$color11 :#3FD28B;
$color12 :#E0E1E1;
$color13 :#00000029;


