@import './variables';
@font-face {
    font-family: "Quicksand";
    src: url("../quantum-screen-assets/Quicksand-font/Quicksand-VariableFont_wght.ttf");
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: $grayEE;
    box-sizing: border-box;
}

button, .cursor-pointer {
    cursor: pointer;
}

*:focus {
    outline: none;
    // outline: 1px solid $greenishColor;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00000038;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00000048;
}