@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}