$headerBgColor : #25313F; //#1f2934
$headerborder : #31B9E4; 

$greenishColor : #1F7A54;
$formInputColor : #666666;

//login
$blueBorderColor : #3AC7EC;
$gray22 : #222222;
$gray221F : #2222221F;
$gray33 : #333333;
$gray66 : #666666;
$gray6E : #6E6E6E;
$grayEE : #EEEEEE;
$grayF3 : #F3F3F3;

$loginBtnBg : #3FD28B;
$loginBtntxt : #1F2834;


$footerBgColor : #E0E1E1;
$white:#FFFFFF;
$offwhite:#FFFFEE;

//dashboard


$blueBadge : #2A7FF3;
$expiredSpanColor : #D80000;
$expiredSpanBg : #FFE4E6;
$hoverBoxShadow: #00000029;
$hamburgerBoxShadow: #0000003D;