@import './abstracts/fonts';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './layout/header';
@import './layout/dashboardNavbar';
@import './layout/sortFunc';
@import './layout/hoverContainer';
@import './layout/courseContainer';
@import './layout/footer';

body {
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dashboard-header {
    border: none;
}

select {
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid $formInputColor;
    color: $formInputColor;
    background: url('../quantum-screen-assets/icons/arrow-down.svg') no-repeat right;
    appearance: none;
}

.multine-ellipsis {
    -webkit-box-orient: vertical;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.container {
    display: block;
    padding: 0 24px;
}

.nav-toggle {
    margin: 24px 0px;
    background-color: #8DDC97;
    display: flex;
    box-sizing: border-box;

    .active {
        border-bottom: 4px solid $gray22;
    }
}

.nav-toggle-item {
    @include flexCenter();
    background: none;
    border: none;
    font-family: inherit;
    width: 50%;
    padding: 20px;
    img {
        width: 32px;
    }
    .bold-num {
        font-size: 24px;
        font-weight: bold;
    }
    &:hover {
        opacity: 0.6;
    }
}

@media (max-width: 1024px) {
    #dashboard-header {
        border-bottom: 2px solid $headerborder;
    }
    .res-navbar {
        flex-direction: column;
        position: absolute;
        top: 63px;
        width: 280px;
        // left: 0;
        right: 0;
        background-color: $white;
        text-align: center;
        display: none;
        ul {
            margin-block-start: 0;
        }
        a {
            color: $greenishColor;
            font-size: 14px;
            font-weight: 500;
            padding: 15px 16px;
            text-align: left;

            &:hover {
                color: $greenishColor;
                background-color: $grayF3;
            }
        }
    }
    .nav-toggle-label {
        cursor: pointer;
        display: block;
    }
    #hamburger-menu-div {
        display: initial;
    }
    // .nav-toggle:checked+.res-navbar {
    //     display: block;
    //     z-index: 5;
    //     margin: 0;
    //     padding: 0;
    // }
    .course-container {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: 571px;
        grid-auto-rows: 250px;
        // grid-template-columns: repeat(1, 1fr);
        .course-card {
            width: 571px;
        }
    }
}

.fixed-nav-item:hover a+.hover-container {
    // transition: all 1s;
    // display: block;
    // opacity: 1;
    // visibility: visible;
    max-height: 582px;
}