@font-face {
  font-family: "Quicksand";
  src: url("../quantum-screen-assets/Quicksand-font/Quicksand-VariableFont_wght.ttf");
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #EEEEEE;
  box-sizing: border-box;
}

button, .cursor-pointer {
  cursor: pointer;
}

*:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2196078431);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2823529412);
}

.header {
  box-sizing: border-box;
  height: 58px;
  border-bottom: none;
  background-color: #25313F;
  padding: 10px 8px 10px 24px;
  border-bottom: 2px solid #3AC7EC;
}
.header .header-img {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn-container {
  margin: 0;
  padding: 0;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  cursor: pointer;
  display: none;
}

.res-navbar {
  font-size: 14px;
  display: flex;
  list-style-type: none;
}

.fixed-nav-items {
  display: flex;
  align-items: center;
}
.fixed-nav-items a {
  display: inline-block;
  padding: 19px 16px;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
}
.fixed-nav-items a img {
  width: 24px;
}
.fixed-nav-items a .nav-badge {
  height: 21px;
  margin: 0;
  background-color: #2A7FF3;
  position: absolute;
  right: 8px;
  top: 11px;
  padding: 1px 5px;
  border-radius: 50%;
  line-height: 21px;
  box-sizing: border-box;
  vertical-align: middle;
}

li a {
  color: #3FD28B;
  display: block;
  padding: 19px 32px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  height: 60px;
}
li a:hover {
  color: #FFFFFF;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5333333333);
}

a.active {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}

#profile-icon {
  width: 32px;
  border-radius: 50%;
}

#profile-badge {
  background-color: #FFFFFF;
  color: #222222;
  font-size: 10px;
  padding: 1px 7px;
}

#announcements-badge {
  padding: 1px 7px;
}

.other-func {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  height: 28px;
}
.other-func .sortby-func {
  display: flex;
  align-items: center;
}
.other-func .sortby-func #sortby-select {
  width: 170px;
  display: inline-block;
  background-color: #EEEEEE;
  height: 20px;
  padding: 0px 0px 2px 6px;
  font-size: 16px;
  color: #333333;
  font-family: "Quicksand";
  box-sizing: content-box;
}
.other-func .sortby-func #sort-icon {
  margin-left: 24px;
}

#hamburger-menu-div {
  display: none;
}

#hamburger-icon {
  width: 28px;
}

#hamburger-container {
  transition: all 0.5s ease-out;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  height: auto;
  overflow: hidden;
  width: 280px;
  top: 65px;
  box-sizing: border-box;
}
#hamburger-container #new-res-navbar-id {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  list-style: none;
}
#hamburger-container #new-res-navbar-id li:hover {
  color: #1F7A54;
  background-color: #F3F3F3;
  border: none;
}
#hamburger-container #new-res-navbar-id a {
  display: block;
  height: initial;
  color: #1F7A54;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 16px;
  text-align: left;
  border: none;
}
#hamburger-container #new-res-navbar-id .dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  line-height: 18px;
}
#hamburger-container #new-res-navbar-id .dropdown-btn .dropdown-btn-icon {
  font-size: 24px;
  color: #1F7A54;
  height: 18px;
}
#hamburger-container #new-res-navbar-id .sub-menu {
  display: none;
}
#hamburger-container #new-res-navbar-id .sub-menu ul {
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  padding-left: 0;
}
#hamburger-container #new-res-navbar-id .sub-menu ul li a {
  text-transform: uppercase;
  padding-left: 32px;
}
#hamburger-container #new-res-navbar-id .sub-menu ul li:hover {
  text-decoration: underline;
}
#hamburger-container #new-res-navbar-id .opened-submenu {
  display: block;
}

.fixed-nav-item {
  position: relative;
  transition: all 1s;
}

.hover-container {
  transition: all 0.3s ease-out;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  z-index: 10;
  box-sizing: border-box;
  position: absolute;
  background-color: #FFFFFF;
  color: #222222;
  border-radius: 0px 0px 2px 2px;
  top: 63px;
  right: 5px;
  width: 315px;
  max-height: 0px;
  overflow-y: scroll;
  overflow-x: visible;
}
.hover-container .hover-card {
  box-sizing: border-box;
  padding: 16px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
}
.hover-container .hover-card .title {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  margin-bottom: 4px;
}
.hover-container .hover-card .title span.pa-block {
  font-size: 12px;
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}
.hover-container .hover-card .title span.pa-block span.pa {
  color: #6E6E6E;
}
.hover-container .hover-card .title h3 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.hover-container .hover-card .title .icon {
  font-size: 18px;
  color: #1F7A54;
  margin-left: 8px;
}
.hover-container .hover-card .course-info {
  font-size: 12px;
  margin: 8px 0px;
}
.hover-container .hover-card .course-info span {
  color: #6E6E6E;
}
.hover-container .hover-card .file-and-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #6E6E6E;
}
.hover-container .hover-card .file-and-time .file {
  align-content: center;
}
.hover-container .hover-card .file-and-time .file span {
  font-size: 13px;
  vertical-align: sub;
  margin-bottom: 1px;
}
.hover-container .fixed-container-footer {
  box-sizing: border-box;
  color: #1F7A54;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  cursor: pointer;
  border: none;
}
.hover-container .fixed-container-footer button {
  height: 48px;
  padding: 15px;
  text-align: center;
  width: auto;
  flex: 2;
  margin: 0;
  cursor: pointer;
  border: none;
  color: #1F7A54;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
}
.hover-container .fixed-container-footer button:hover {
  text-decoration: underline;
}
.hover-container .fixed-container-footer span {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.1215686275);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.body-container {
  min-height: 100%;
  position: relative;
}

.container {
  padding-bottom: 60px;
}

.course-container {
  margin-bottom: 104px;
  max-width: 100%;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(476px, 1fr));
  grid-auto-rows: 246px;
  align-content: center;
  justify-content: center;
}
.course-container .course-card {
  min-height: 246px;
  width: 476px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  background-color: white;
  padding: 24px 24px 0px;
  box-sizing: border-box;
}
.course-container .course-card .expired {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: #D80000;
  background-color: #FFE4E6;
  padding: 4px 7px 2px 5px;
  font-size: 10px;
  font-family: "museo-sans-500", sans-serif;
  border-radius: 2px;
}
.course-container .course-card .course-img {
  flex: 1;
  border-radius: 2px;
}
.course-container .course-card .course-body {
  flex: 2;
  margin-left: 16px;
}
.course-container .course-card .course-body .card-title {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: #222222;
}
.course-container .course-card .course-body .card-title .fav-span {
  float: right;
  margin: 0;
  top: 0;
  right: 0;
}
.course-container .course-card .course-body .card-title .not-fav {
  opacity: 0.2;
  filter: opacity(0.5) drop-shadow(0 0 0 blue);
}
.course-container .course-card .course-body .card-title h3 {
  font-size: 16px;
  max-height: 42px;
  margin: 0;
}
.course-container .course-card .course-body p {
  font-size: 12px;
}
.course-container .course-card .course-body span {
  margin-right: 8px;
}
.course-container .course-card .course-body .green-span {
  color: #1F7A54;
}
.course-container .course-card .course-body #course-card-select {
  font-family: "Quicksand";
  font-size: 16px;
  margin-top: 14px;
  padding-bottom: 5px;
  color: #222222;
}
.course-container .course-card .course-card-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 24px 11px;
  border-top: 1px solid rgba(0, 0, 0, 0.0705882353);
}
.course-container .course-card .course-card-footer img {
  height: 24px;
}
.course-container .course-card .course-card-footer .card-footer-btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.course-container .course-card .course-card-footer .card-footer-btn:hover {
  opacity: 0.7;
}
.course-container .course-card .course-card-footer .card-footer-btn .btn-img-18-20 {
  width: 18px;
  height: 20px;
}
.course-container .course-card .course-card-footer .card-footer-btn .disbled-btn {
  opacity: 0.4;
}

.course-card-text-mp {
  padding: 0;
  margin: 0;
  font-size: 12px;
  margin-bottom: 8px;
  color: #666666;
}

.multine-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .upper-footer {
  text-align: center;
  font-size: 14px;
  color: #1F7A54;
  margin-top: 30px;
  margin-bottom: 16px;
}
.footer .upper-footer a {
  color: inherit;
}
.footer .lower-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: baseline;
  font-size: 12px;
  box-sizing: border-box;
  height: 40px;
  background-color: #E0E1E1;
  padding: 8px 15px;
  text-align: center;
  color: #616161;
}
.footer .lower-footer .footer-pipline {
  font-size: 24px;
}

body {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#dashboard-header {
  border: none;
}

select {
  width: 100%;
  padding: 5px 0px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #666666;
  color: #666666;
  background: url("../quantum-screen-assets/icons/arrow-down.svg") no-repeat right;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.multine-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.container {
  display: block;
  padding: 0 24px;
}

.nav-toggle {
  margin: 24px 0px;
  background-color: #8DDC97;
  display: flex;
  box-sizing: border-box;
}
.nav-toggle .active {
  border-bottom: 4px solid #222222;
}

.nav-toggle-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-family: inherit;
  width: 50%;
  padding: 20px;
}
.nav-toggle-item img {
  width: 32px;
}
.nav-toggle-item .bold-num {
  font-size: 24px;
  font-weight: bold;
}
.nav-toggle-item:hover {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  #dashboard-header {
    border-bottom: 2px solid #31B9E4;
  }
  .res-navbar {
    flex-direction: column;
    position: absolute;
    top: 63px;
    width: 280px;
    right: 0;
    background-color: #FFFFFF;
    text-align: center;
    display: none;
  }
  .res-navbar ul {
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }
  .res-navbar a {
    color: #1F7A54;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 16px;
    text-align: left;
  }
  .res-navbar a:hover {
    color: #1F7A54;
    background-color: #F3F3F3;
  }
  .nav-toggle-label {
    cursor: pointer;
    display: block;
  }
  #hamburger-menu-div {
    display: initial;
  }
  .course-container {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 571px;
    grid-auto-rows: 250px;
  }
  .course-container .course-card {
    width: 571px;
  }
}
.fixed-nav-item:hover a + .hover-container {
  max-height: 582px;
}/*# sourceMappingURL=dashboard.css.map */