@import './abstracts/fonts';
@import './layout/header';
@import './layout/container';
@import './layout/footer';

// input:focus {
//     outline: none;
// }
a {
    text-decoration: none;
}
