@font-face {
  font-family: "Quicksand";
  src: url("../quantum-screen-assets/Quicksand-font/Quicksand-VariableFont_wght.ttf");
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #EEEEEE;
  box-sizing: border-box;
}

button, .cursor-pointer {
  cursor: pointer;
}

*:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2196078431);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2823529412);
}

.header {
  box-sizing: border-box;
  height: 58px;
  border-bottom: none;
  background-color: #25313F;
  padding: 10px 8px 10px 24px;
  border-bottom: 2px solid #3AC7EC;
}
.header .header-img {
  height: 100%;
}

.body-container {
  min-height: 100%;
  position: relative;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.login-container .form-container {
  box-sizing: border-box;
  margin: 50px;
  border-top: 4px solid #3AC7EC;
  width: 488px;
  min-width: 300px;
  padding: 0 32px;
  background-color: #FFFFFF;
}
.login-container .form-container #state-ip-group {
  margin-top: 23px;
}
.login-container .form-container #district-ip-group {
  margin-top: 36px;
}
.login-container .form-container #username {
  margin-top: 54px;
}
.login-container .form-container #password {
  margin-top: 33px;
}
.login-container .form-container #remember-me-line {
  margin-top: 26px;
}
.login-container .form-container h3 {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  margin-bottom: 32px;
}
.login-container .form-container h3 img {
  float: left;
}
.login-container .form-container .radio-ip-line {
  display: flex;
  justify-content: start;
  align-items: center;
}
.login-container .form-container .radio-ip-line input {
  margin: 0px 8px 0px 0px;
}
.login-container .form-container .radio-ip-line label {
  margin-right: 32px;
}
.login-container .form-container select {
  width: 100%;
  padding: 5px 0px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #666666;
  color: #666666;
  background: url("../quantum-screen-assets/icons/arrow-down.svg") no-repeat right;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
}
.login-container .form-container .form-group {
  position: relative;
}
.login-container .form-container .form-group input {
  font-family: inherit;
}
.login-container .form-container .form-group small {
  font-size: 14px;
  display: block;
  text-align: right;
  color: #1F7A54;
  margin: 5px;
}
.login-container .form-container .form-group label {
  font-size: 16px;
  color: #666666;
}
.login-container .form-container .form-group .small-label {
  font-size: 12px;
}
.login-container .form-container .form-group .text-ip, .login-container .form-container .form-group select {
  width: 100%;
  padding: 5px 0px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #666666;
  color: #666666;
}
.login-container .form-container .form-group .text-ip {
  margin-top: 20px;
}
.login-container .form-container .form-group input[type=radio], .login-container .form-container .form-group input[type=checkbox] {
  accent-color: #1F7A54;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.login-container .form-container .form-group img {
  cursor: pointer;
  position: absolute;
  top: 36px;
  right: 0px;
  cursor: pointer;
}
.login-container .form-container .login-btn {
  background-color: #3FD28B;
  font-size: 14px;
  color: #1F2834;
  padding: 11px 85px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 34px auto 24px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .upper-footer {
  text-align: center;
  font-size: 14px;
  color: #1F7A54;
  margin-top: 30px;
  margin-bottom: 16px;
}
.footer .upper-footer a {
  color: inherit;
}
.footer .lower-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: baseline;
  font-size: 12px;
  box-sizing: border-box;
  height: 40px;
  background-color: #E0E1E1;
  padding: 8px 15px;
  text-align: center;
  color: #616161;
}
.footer .lower-footer .footer-pipline {
  font-size: 24px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=login.css.map */