

/* .header {
    height: 40px;
    border-bottom: 3px solid #31B9E4;
    background-image: url("../quantum-screen-assets/header\ pattern\ image.png");
    
    background-color: #1f2934;
    padding: 10px 15px;
}

.header-img {
    height: 100%;
} */

/* .upper-footer {
    text-align: center;
    font-size: 14px;
    color: #1F7A54;
    margin-top: 30px;
    margin-bottom: 16px;
}

.upper-footer a {
    color: inherit;
}

.lower-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: baseline;
    font-size: 12px;
    box-sizing: border-box;
    height: 40px;
    background-color: #E0E1E1;
    padding: 8px 15px;
    text-align: center;
    color: #616161;
}

.footer-pipline {font-size: 24px;} */

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-container {
    margin: 50px;
    border-top: 4px solid #3AC7EC;
    width: 488px;
    min-width: 300px;
    padding: 0 32px;
    background-color: #FFFFFF;
}

.form-container h3 {
    font-size: 24px;
    text-align: center;
    color: #222222;
}

h3 img {
    float: left;
} */
/* 
label {
    font-size: 16px;
    color:#666666;
}
.small-label {
    font-size: 12px;
} */

/* .form-group .text-ip, select {
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #666666;
    color: #666666;
    
} */
/* .text-ip {
    margin-top: 30px;
} */

/* input[type='radio'], input[type='checkbox'] {
    accent-color:#1F7A54;
    height: 20px;
    width: 20px;
    vertical-align: middle;
} */

/* *:focus {
    outline: none;
} */

/* .form-group {
    margin-top: 35px;
} */

/* .form-group small {
    font-size: 14px;
    display: block;
    text-align: right;
    color: #1F7A54;
    margin: 5px;
} */

/* a {
    text-decoration: none;
} */

/* .login-btn {
    background-color: #3FD28B;
    font-size: 14px;
    color: #1F2834;
    padding: 11px 85px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 34px auto 24px;
    box-shadow: 0px 3px 5px #0000003D;
} */